.body-background {
	background-image: url('gasometer4.jpg');
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;

	.container {
		background-color: rgba(256, 256, 256, 0.95);
		margin-top: 5rem;
	}
}

.site-title {
	text-transform: uppercase;
	padding-top: 2rem;
	font-size: $h2-font-size;

	a:hover {
		text-decoration: none;
	}
}