h1, h2 {
	font-family: 'Anonymous Pro', monospace;
}

.site-title {
	text-transform: uppercase;
	padding-top: 2rem;
	font-size: $h2-font-size;
	font-family: $font-family-sans-serif;

	a:hover {
		text-decoration: none;
	}
}