.posts {
	margin-top: 3rem;
	margin-bottom: 5rem;
	padding-bottom: 5rem;
}

.post {
	margin-bottom: 2rem;
}

.post_section {
	padding-top: 3rem;
	padding-bottom: 2rem;
	color: $text-muted;
}

.post__meta {
	@extend .post_section;

	text-transform: uppercase;
}

.post__content {
	@extend .post_section;

	p {
		font-family: helvetica, 'Open Sans', sans-serif;
		font-size: $code-font-size;
	}
}

.post__title {
	text-transform: uppercase;
	font-weight: bold;

	a {
		color: $secondary;
	}

	a:hover {
		text-decoration: none;
	}
}