.posts {
	margin-bottom: 5rem;
	padding-bottom: 5rem;
}

.post__content {
	padding-top: $spacer;
	text-align: center;
}

.post__title {
	font-family: 'Anonymous Pro', monospace;
	text-align: center;

	a {
		color: $secondary;
	}

	a:hover {
		text-decoration: none;
	}
}

.post__spacer {
	width: 50%;
	height: 4*$spacer;
	border-right: 1px solid $black;
}