---
layout: default
---

<div>
  {%- if site.posts.size > 0 -%}
      <div class="posts">
      {%- for post in site.posts -%}
        <div class="row post">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <div class="col-3 border-right text-right post__meta">
            <div>{{ post.date | date: date_format }}</div>
            {% for category in post.categories %}
            <div>{{ category }}</div>
            {% endfor %}
          </div>
          <div class="col-7 post__content">
            <h2 class="post__title">
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h2>
            <p>{{ post.content }}</p>
           </div>
        </div>
      {%- endfor -%}
    </div>
  {%- endif -%}
</div>