---
layout: default
---
<div class="post no-intro">
    <div class="row post">
        <div class="offset-3 col-6">
            <div class="row justify-content-center pt-3">
                <div>{{ page.date | date_to_long_string }}</div>
            </div>
            <div class="row justify-content-center">
                <h1 class="post__title h3">{{ page.title }}</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="post__content text-left">{{ page.content }}</div>
            </div>
        </div>
    </div>
</div>
